.img{
    width: 300px;
}
.image{
    width: 400px;
}
.flat_card{
    display: flex;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    max-width: 1000px;
    padding: 10px;
    justify-content: center;
    
}
.point{
    cursor: pointer;
}
.flat_card_text{
    margin: 0 auto 0 0;
    font-size: 16pt;
}
.flat_card_img{
    margin:auto;
}
.filter{
    display: flex;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    max-width: 1000px;
    padding: 10px;
    justify-content: center;
}